#include <D2RLPlugin/resource.h>
#include <D2RLPlugin/version.h>
D2RL_PLUGIN_MANIFEST_RESOURCE_ID RCDATA { D2RL_PLUGIN_RESOURCE_DWORD(D2RL_PLUGIN_ABI_VERSION) }
1 VERSIONINFO
FILEVERSION 1,1,0,0
PRODUCTVERSION 1,1,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "MindH1ve"
      VALUE "Author", "MindH1ve"
      VALUE "LegalCopyright", "Copyright (C) MindH1ve"
      VALUE "FileDescription", "D2RLoader configurable buff HUD and timer plugin"
      VALUE "FileVersion", "1.1.0"
      VALUE "InternalName", "buff-panel"
      VALUE "OriginalFilename", "d2rl-buff-panel.dll"
      VALUE "ProductName", "Buff HUD"
      VALUE "ProductVersion", "1.1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END
